@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.top-section {
    height: 40vh;
    background-image: url(img/jumbotron.jpg);
    background-size: 100%;
}
h3 {
    position: absolute;
    bottom: -8%;
    left: 22%;
    z-index: 2000;
}
.my-card-img {
    width: 200px;
    height: 200px;
}
.my-nav {
    margin: 0;
    background-color: #0282F9;
    position: relative;
    z-index: 1000;
}
.navbar-img {
    width: 60px;
    height: 65px;
}
.cursor-pointer {
    cursor: pointer;
}
